---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=10&market=US&q=Toxic&type=track,artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQCPrc7NxYoTX7aK_zmuovAjhxNNkI2ydT7ipiR3B813MSWN-s_EysKkGxp-7PB9FO0JmFVuGizkYisisxAmnMsaIFq2OxQxC9Df0NkZFKHisifI8D_k6Bnd1XCTC8xY2odmx4Ja0_--sG0AaCPchBpWM62yhUlTmvI8Mw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Toxic&type=artist&market=US&offset=0&limit=10",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/7xovAENFxmyEWhzbnHsB3Z"
              },
              "followers" : {
                "href" : null,
                "total" : 110736
              },
              "genres" : [ "indie pop", "indie rock", "la indie", "metropopolis", "modern rock", "pop rock", "stomp and holler" ],
              "href" : "https://api.spotify.com/v1/artists/7xovAENFxmyEWhzbnHsB3Z",
              "id" : "7xovAENFxmyEWhzbnHsB3Z",
              "images" : [ {
                "height" : 667,
                "url" : "https://i.scdn.co/image/bbd9f183036a27e4a8cb42ed762e2a3bdcd5c909",
                "width" : 1000
              }, {
                "height" : 427,
                "url" : "https://i.scdn.co/image/6bb8b7a51b522f85a66df2e88f3a7db3dd937136",
                "width" : 640
              }, {
                "height" : 133,
                "url" : "https://i.scdn.co/image/bab1d0a1917ef67057f14ae4b2fa7f59ee4a0367",
                "width" : 200
              }, {
                "height" : 43,
                "url" : "https://i.scdn.co/image/c64128fe93fdcd480d81313be38e52a5ff80b3cf",
                "width" : 64
              } ],
              "name" : "The Airborne Toxic Event",
              "popularity" : 52,
              "type" : "artist",
              "uri" : "spotify:artist:7xovAENFxmyEWhzbnHsB3Z"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/5zExRf0VQCl3GO4Jrj8r0s"
              },
              "followers" : {
                "href" : null,
                "total" : 29177
              },
              "genres" : [ "deep chiptune", "electro house", "filter house", "new rave" ],
              "href" : "https://api.spotify.com/v1/artists/5zExRf0VQCl3GO[...]
