---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token?code=fakeauthcode&grant_type=authorization_code&redirect_uri=https://amplifyapp.ca/spotify_callback
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZWNhODUzYzcwYmMyNGIyZDg0ZjliYmQ1MjU1NDA3NGI6NWZhZWQ0YjRlNWNjNGM3Nzg0ZWFjNjVhMTE3NmZmZDI=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"Invalid authorization
        code"}'
  recorded_at: Sat, 17 Feb 2018 06:00:00 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_request", error_description="Only valid
        bearer authentication supported"
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "status": 400,
            "message": "Only valid bearer authentication supported"
          }
        }
  recorded_at: Sat, 17 Feb 2018 06:00:00 GMT
recorded_with: VCR 4.0.0
