---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/3n3Ppam7vgaVa1iaRUc9Lp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQDkdESAYGnmwadHPr--duLAwsIlFteza0bw5glIawKXhTekdIvM2k_yk94bLVfHHbLLMVL_ogWtLzlBt29d48GT_6qcyzcf-7husefQbL6buC5jNdRikHu0f5V1p7VKs3S1qEeUduX3Km7gCDIyTQ-ozcqDW-C1bE3SiA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/0C0XlULifJtAgn6ZNCW2eu"
              },
              "href" : "https://api.spotify.com/v1/artists/0C0XlULifJtAgn6ZNCW2eu",
              "id" : "0C0XlULifJtAgn6ZNCW2eu",
              "name" : "The Killers",
              "type" : "artist",
              "uri" : "spotify:artist:0C0XlULifJtAgn6ZNCW2eu"
            } ],
            "available_markets" : [ ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/4OHNH3sDzIxnmUADXzv2kT"
            },
            "href" : "https://api.spotify.com/v1/albums/4OHNH3sDzIxnmUADXzv2kT",
            "id" : "4OHNH3sDzIxnmUADXzv2kT",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ac68a9e4a867ec3ce8249cd90a2d7c73755fb487",
              "width" : 629
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/d0186ad64df7d6fc5f65c20c7d16f4279ffeb815",
              "width" : 295
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/7c3ec33d478f5f517eeb5339c2f75f150e4d601e",
              "width" : 63
            } ],
            "name" : "Hot Fuss (Deluxe Version)",
            "release_date" : "2004",
            "release_date_precision" : "year",
            "type" : "album",
            "uri" : "spotify:album:4OHNH3sDzIxnmUADXzv2kT"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0C0XlULifJtAgn6ZNCW2eu"
            },
            "href" : "https://api.spotify.com/v1/artists/0C0XlULifJtAgn6ZNCW2eu",
            "id" : "0C0XlULifJtAgn6ZNCW2eu",
            "name" : "The Killers",
            "type" : "artist",
            "uri" : "spotify:artist:0C0XlULifJtAgn6ZNCW2eu"
          } ],
          "available_markets" : [ ],
          "disc_number" : 1,
          "duration_ms" : 222200,
          "explicit" : false,
          "external_ids" : {
            "isrc" : "GBFFP0300052"
          },
          "external_urls" : {
            "spotify" : "https://open.spotify.com/track/3n3Ppam7vgaVa1iaRUc9Lp"
          },
          "href" : "https://api.spotify.com/v1/tracks/3n3Ppam7vgaVa1iaRUc9Lp",
          "id" : "3n3Ppam7vgaVa1iaRUc9Lp",
          "name" : "Mr. Brightside",
          "popularity" : 81,
          "preview_url" : null,
          "track_number" : 2,
          "type" : "track",
          "uri" : "spotify:track:3n3Ppam7vgaVa1iaRUc9Lp"
        }
  recorded_at: Tue, 06 Mar 2018 06:00:00 GMT
recorded_with: VCR 4.0.0
