.centered_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.max_width_500 {
  max-width: 500px !important
}

.centered_wrapper_min_height_50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
  min-height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.background_img {
  background: url("../images/music.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100VH;
}

.overlay {
    background: rgba(0, 0, 0, 0.45);
    height: 100%;
    z-index: 2;
}

.white_text {
  color: white !important;
}

.normal_font {
  font-weight: normal !important;
}

.amplify_blue {
  color: rgb(2, 73, 109) !important;
}

.amplify_color_background {
  background-color: #FF0F4C !important;
}

.amplify_color {
  color: #FF0F4C !important;
}

html {
  background: #303030 !important;
}

body {
  background: #303030 !important;
  font-size: 1.2rem !important;
}

.ui.menu > .container > .header.item {
  font-size: 1.2rem !important;
}

.ui.inverted {
  background: #303030 !important;
}

.song_list {
  margin-top: 4rem !important;
  width: 100%;
  border-collapse: collapse;
}

.song_list > tbody > tr {
  border: 1px solid darkgrey;
}

.artist {
  color: darkgrey !important;
  font-style: italic;
}

.vote_count {
  text-align: center !important;
}

.vote_count.sum{
  font-size: 1.5rem !important;
}

i.icon {
  margin: 0.25rem 0.25rem 0rem 0.25rem !important;
  font-size: 2rem !important;
}

.width-20 {
  width: 20%;
}

.width-80 {
  width: 80%;
}

.ui.table td {
  padding: 0 !important;
}

.ui.table th {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
