.centered_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.max_width_500 {
  max-width: 500px !important
}

.centered_wrapper_min_height_50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
  min-height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.background_img {
  background: url("../images/music.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100VH;
}

.overlay {
    background: rgba(0, 0, 0, 0.45);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.white_text {
  color: white !important;
}

.normal_font {
  font-weight: normal !important;
}

.amplify_blue {
  color: rgb(2, 73, 109) !important;
}

.amplify_color_background {
  background-color: #FF0F4C !important;
}

@media only screen and (min-width: 768px) {
  .ui.button {
    font-size: 2rem !important;
  }

  .ui.form {
    font-size: 2rem !important;
  }

  .ui.massive.header {
    font-size: 2rem;
  }

  .song_table {
    font-size: 1.2rem !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

html {
  background: #303030 !important;
}

body {
  background: #303030 !important;
}

.padding_top_five {
  padding-top: 5rem;
}

.ui.inverted {
  background: #303030 !important;
}

.song_list {
  margin-top: 2rem;
}
