.centered_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.max_width_500 {
  max-width: 500px !important
}

.centered_wrapper_min_height_50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
  min-height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.background_img {
  background: url("../images/music.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100VH;
}

.overlay {
    background: rgba(0, 0, 0, 0.45);
    height: 100%;
    z-index: 2;
}

.white_text {
  color: white !important;
}

.normal_font {
  font-weight: normal !important;
}

.amplify_blue {
  color: rgb(2, 73, 109) !important;
}

.amplify_color_background {
  background-color: #FF0F4C !important;
}

.amplify_color {
  color: #FF0F4C !important;
}

html {
  background: #303030 !important;
}

body {
  background: #303030 !important;
  font-size: 1.2rem !important;
}

.ui.inverted {
  background: #303030 !important;
}

.artist {
  color: darkgrey !important;
  font-style: italic;
}

i.icon {
  margin: 0.25rem 0.25rem 0rem 0.25rem !important;
  font-size: 2rem !important;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: all .3s ease !important;
  transition: all .3s ease !important;
}

.fade-enter,
.fade-leave-to {
  opacity: 0 !important;
}

.fade-move {
  -webkit-transition: -webkit-transform .3s !important;
  transition: -webkit-transform .3s !important;
  transition: transform .3s !important;
  transition: transform .3s, -webkit-transform .3s !important;
}
