<div class="main_background">
  <div class="overlay padding_top_three">
    <h3 class="ui inverted top attached header">
      <img class="logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
      <div class="content">Amplify</div>
    </h3>
    <div class="ui inverted attached segment">
      <div class="ui inverted relaxed divided list">
        <!--Item will eventually be a song object, can do item.votes, item.artist, etc. -->
        <% @songs.each do |item| %>
        <div class="item">
          <div class="left floated content">
            <i class="triangle up icon"></i>42<i class="triangle down icon"></i>
          </div>
          <div class="content">
            <div class="header"><%= item %></div>
            blah blah
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="content">Amplify 2018</div>
    </div>
  </div>
  </div>
</div>


