<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      <img class="logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
      Amplify
    </div>
    <div class="header item">Playlist Title</div>
  </div>
</div>
<div class="ui inverted attached segment song_list">
  <div class="ui inverted relaxed divided list">
    <div class="item">
      <div class="left floated content">
        Votes
      </div>
      <div class="content">
        Song Title
      </div>
    </div>
    <!--Item will eventually be a song object, can do item.votes, item.artist, etc. -->
    <% @songs.each do |item| %>
      <div class="item">
        <div class="left floated content">
          <i class="triangle up icon"></i>42<i class="triangle down icon"></i>
        </div>
        <div class="content">
          <div class="header"><%= item %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

