<div class="main_background">
  <div class="overlay padding_top_three">
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
          Amplify
        </a>
        <div class="header item">Playlist Title</div>
        </div>
      </div>

    <div class="ui left aligned stackable grid white_text">
      <div class="row">
        <div class="column">Hello</div>
      </div>
      <div class="row" style="font-size:1.5rem;">
        <div class="overflow-x:auto;">
        <table class="ui inverted celled">
          <thead>
            <tr>
              <th>Votes</th>
              <th>Song</th>
              <th>Artist</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="center aligned">
                <i class="arrow up icon"></i>301<i class="arrow down icon"></i>
              </td>
              <td>
                All Star
              </td>
              <td>
                Smash Mouth
              </td>
            </tr>
            <tr>
              <td class="center aligned">
                <i class="arrow up icon"></i>12<i class="arrow down icon"></i>
              </td>
              <td>
                Toxic
              </td>
              <td>
                Britney Spears
              </td>
            </tr>
            <tr>
              <td class="center aligned">
                <i class="arrow up icon"></i>-9<i class="arrow down icon"></i>
              </td>
              <td>
                How You Remind Me
              </td>
              <td>
                Nickelback
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


