<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      <img class="logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
      Amplify
    </div>
    <div class="header item">Playlist Title</div>
  </div>
</div>
<div class="ui inverted attached segment song_list">
  <div class="ui inverted relaxed divided list">
    <div class="item">
      <div class="left floated content">
        Votes
      </div>
      <div class="content">
        Song Title
      </div>
    </div>
    <% @songs.each do |song| %>
      <div class="item">
        <div class="left floated content">
          <i class="triangle up icon"></i><%= link_to "UpVote", playlist_vote_path(@room_id, song.id), :method => :put %><%= song.vote_count %><i class="triangle down icon"></i>
        </div>
        <div class="content">
          <div class="header"><%= song.title  %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

