<div id="show">
<div class="ui inverted menu">
  <div class="header item">
    <img class="logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
    Amplify
  </div>
  <div class="right menu">
    <div class="item">
      <i class="refresh up icon" @click=reloadPlaylist></i>
    </div>
  </div>
</div>

  <table class="ui celled table inverted unstackable">
    <thead>
      <tr>
        <th class="center aligned">Votes</th>
        <th>Song</th>
     </tr>
    </thead>
    <tbody v-for="song in songs">
      <tr>
        <td class="center aligned">
          <div><i class="triangle up icon" @click.prevent=vote(1,song) v-bind:class="{ amplify_color : song.voter_score === 1 }"></i></div>
          <div>{{ song.total_score }}</div>
         <div> <i class="triangle down icon vote_icon" @click.prevent=vote(-1,song) v-bind:class="{ amplify_color : song.voter_score === -1 }"></i></div>
        </td>
        <td>
          {{ song.title }}
          <div class="artist">{{ song.artist }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  const playlistVue = new Vue({
    el: '#show',
    data: {
      songs: <%= @playlist_data.to_json.html_safe %>
    },
    methods: {
      vote: function(value, song) {
        value = (song.voter_score !== value) ? value : 0;
        Rails.ajax({
          type: "PUT",
          url: '/playlist/' + '<%= @room.id %>' + '/vote/' + song.id + '?vote=' + value,
          success: function(data) {
            song.total_score = data.new_score;
            song.voter_score = value;
            playlistVue.sortPlaylist();
          }
        });
      },
      reloadPlaylist: function() {
        Rails.ajax({
          type: "GET",
          url: '<%= @room.id %>',
          success: function(data) {
            playlistVue.songs = data.playlist
          }
        });
      },
      sortPlaylist: function() {
        playlistVue.songs.sort(function(a,b) {
          return b.total_score - a.total_score;
        });
      }
    }
  });
</script>
